<form method="post" action="{{ path('avertissemets_delete', {'id': avertissemet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avertissemet.id) }}">
    <button class="btn">Delete</button>
</form>
